<div class="hero-head">
  <header class="nav">
    <div class="container">
      <div class="nav-left">
        {{#if @blog.logo}}
          <a class="nav-item" href="{{@blog.url}}"><img class="image is-24x24 is-rounded" src="{{@blog.logo}}" alt="Logo"></a>
        {{/if}}
      </div>

      <div class="nav-center">
        {{#if @blog.facebook}}
          <a class="nav-item" href="{{facebook_url @blog.facebook}}"><span class="icon"><i class="fa fa-facebook"></i></span></a>
        {{/if}}
        {{#if @blog.twitter}}
          <a class="nav-item" href="{{twitter_url @blog.twitter}}"><span class="icon"><i class="fa fa-twitter"></i></span></a>
        {{/if}}
      </div>

      <div class="nav-right"></div>
    </div>
  </header>
</div>
