{{!< default}}

<section class="hero is-dark">
  {{> header}}

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half is-offset-one-quarter">
          <div class="columns is-mobile">
            <div class="column">
              {{#if @blog.title}}<h1 class="title is-2">{{@blog.title}}</h1>{{/if}}
              {{#if @blog.description}}<p class="subtitle is-4">{{@blog.description}}</p>{{/if}}
              <a class="button is-rss" href="{{@blog.url}}/rss/">
                <span class="icon"><i class="fa fa-rss"></i></span>
                <span>Subscribe</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> loop}}
