@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";


$blue: #2196F3;
$blue-dark: #1976D2;
$green: #43A047;
$grey: #9E9E9E;
$grey-dark: #616161;
$light: #F5F5F5;
$text: #212121;

$primary: $blue;
$primary-dark: $blue-dark;
$background: $light;
$body-background: $light;
$border: $primary;
$border-hover: $primary-dark;
$code: $text;
$link-active: $primary-dark;
$link-hover: $primary-dark;
$link-visited: $primary;

@import "../../node_modules/bulma/bulma";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius:    $radius;
    -ms-border-radius:     $radius;
    border-radius:         $radius;
}

.title a:hover, .subtitle a:hover {
    border-bottom: none;   
}

.content pre:not(:last-child) {
    margin-bottom: 1em;
}

.is-rounded.is-24x24 img, .image.is-rounded.is-24x24 {
    @include border-radius(12px);
}

.is-rounded.is-32x32 img, .image.is-rounded.is-32x32 {
    @include border-radius(16px);

}

.is-rounded.is-96x96 img, .image.is-rounded.is-96x96 {
    @include border-radius(48px);
}
  
.card.has-vertical-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.content {
    a {
        &:visited:hover {
            color: $primary-dark;
        }
    }   
}

.footer {
    a, a:visited {
        color: $primary;
    }

    a:hover, a:visited:hover {
        color: $primary-dark;
    }
}

pre, code {
    line-height: 1.5;
}
  