.is-rounded.is-24x24 img, .image.is-rounded.is-24x24 {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.is-rounded.is-32x32 img, .image.is-rounded.is-32x32 {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.is-rounded.is-96x96 img, .image.is-rounded.is-96x96 {
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
}

.card.has-vertical-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hljs {
  /* Need to copy this from Bulma because Highlight.js destroys all the style. */
  background: #f5f7fa !important;
  color: #69707a !important;
  display: block !important;
  overflow-x: auto !important;
  padding: 16px 20px !important;
}
